* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;


}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: #f8f8f8; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;


}

#nav h1 {
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    letter-spacing: -1px;
    position: relative;

}

#nav h1::after {

    content: "©";
    font-weight: 300;
    font-family: gilroy;
    font-size: 22px;
    position: absolute;
    top: 16%;
    right: 22%;
}


#nav h1::before {

    content: "model management";
    font-weight: 300;
    font-family: gilroy;
    font-size: 12px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 19%;
    right: 25%;
    color: #666;
}




#nav h2 {
    height: 100%;
    width: 24%;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    /* background-color: red; */
    font-size: 20px;
    font-weight: 600;
    font-family: gilroy;

}

#nav h2:hover{
    background-color: rgb(235, 235, 235);
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#nav h2:nth-last-child(2) {
    width: 22%;
}

#nav h3 {
    display: none;
}

#center {
    height: 86%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 3vw;
    object-fit: cover;

}

#video {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;

}

#video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 52%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    padding: 5vw;
    bottom: 0;
    color: white;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#over1 h1 {
    font-family: monument;
    font-size: 26px;
}

#over1 h2 {
    font-size: 1vw;
    padding: 1.5vw 1.5vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid white;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;

}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;

}

#container {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

#scroll img {
    /* display: none; */
    height: 100%;
    width: 15%;
    margin: 0.9vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

#scroll img:nth-child(1) {
    object-position: center;
}

#scroll img:nth-child(2) {
    object-position: center;
}

#scroll img:nth-child(3) {
    object-position: center;
}

@keyframes anime {
    from {
        transform: translateX(0);

    }

    to {

        transform: translateX(-100%);

    }
}

#alphabets {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#alphabets h5 {
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    font-family: work sans;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
}

#alphabets h6 {
    font-size: 1.2vw;
    font-weight: 500;
    font-style: italic;
    font-family: work sans;
    letter-spacing: 4px;
    padding: 0.6vw 0.8vw;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.3s;

    /* background-color: aqua; */
}

#alphabets h6:hover {
    border: 1px solid black;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#part1 {
    height: 90%;
    width: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1674327105152-7a6ba47b8fe6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    align-self: flex-start;


}

#part1 h1 {
    font-size: 2.1vw;
    position: absolute;
    bottom: -149.5%;
    font-family: monument;
    text-transform: uppercase;
}

#part2 {
    height: 100%;
    width: 45%;

}

#part2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#text {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

#text h3 {
    width: 45%;
    padding: 1vw 0vw;
    font-size: 1.3vw;
    font-weight: 600;
    margin-right: 2vw;

}

#text p {
    padding-top: 1vw;
    font-size: 14px;
    width: 55%;
    height: 20%;
    font-weight: 600;

}

#page3 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 4vw;
}

#circle-text {
    height: 30%;
    width: 40%;
    /* color: blue; */
    margin-left: 10vw;
    display: flex;
    align-items: center;
    position: relative;

}

#circle-text img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    justify-self: center;
    position: absolute;
    bottom: 70%;
    left: -15%;
}

#circle-text h2 {
    font-size: 5vw;
    font-weight: 100;
    position: absolute;
    bottom: 95%;
    left: 0%;
}

#content {
    height: 100%;
    width: 100%;
    margin-top: 22vw;
    margin-left: -25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#heading-material {
    height: 30%;
    width: 100%;
}

#heading-material p {

    font-size: 1.5vw;
    font-weight: 600;
    font-family: gilroy;


}

#image {
    height: 90%;
    width: 80%;
    background-image: url(https://images.unsplash.com/photo-1673538210460-99e1e5078e45?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fG1vZGVsJTIwcG90cmFpdCUyMHdpdGglMjBza3l8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    align-self: flex-start;
    padding-bottom: 10%;
}


#model {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw 3vw;

}

#model img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page4 {
    height: 100%;
    width: 100%;
    /* background-color: cyan; */
    padding: 3vw 4vw;

}

#page4 h1 {
    text-align: center;
    font-size: 3vw;
    font-family: monument;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6vw;
}


.elem {
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;

}

.elem h3 {
    width: 5%;
    font-size: 1.4vw;
    font-weight: 400;
}

.elem h2 {
    font-size: 1.7vw;
}

.elem h2 p {
    font-size: 1vw;
    font-weight: 500;
}

.elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.9s;
}

.elem .elem-part2 {
    width: 50%;
}

.elem .elem-part2 h2 {
    font-size: 2vw;
    font-weight: 600;
}

.elem .elem-part2 h5 {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem:hover img {
    opacity: 1;
    left: 30%;
}

.elem:hover {
    background-color: rgb(240, 240, 240);
}


#page5 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 2vw 5vw;

}

#lower {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

#lower img {
    height: 80%;
    width: 45%;
    object-fit: cover;
}

#lower-right {
    height: 100%;
    width: 50%;

}

#lower-right h1 {
    font-family: monument;
    font-size: 2.4vw;
    text-transform: uppercase;
}

#lower-right h4 {
    font-weight: 600;
    padding: 2vw 0;
    font-size: 1.5vw;

}

#two-photo {
    margin-top: 3vw;
    height: 100%;
    width: 100%;
    gap: 3vw;
    display: flex;
    padding-right: 3.2vw;

}

#two-photo img {
    height: 37%;
    width: 50%;
    object-fit: cover;


}

#page6 {
    margin-top: -5vw;
    height: 100%;
    width: 100%;
    position: relative;
}

#lower-down {

    height: 100%;
    width: 100%;
}

#lower-down video {

    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0 3vw;
}

#marque {
    white-space: nowrap;
    margin-top: 4vw;
    width: 100%;
    padding: 0.8vw;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#marque h1 {
    display: inline-block;
    font-family: monument;
    font-size: 3vw;
    letter-spacing: 3px;
    margin-right: 16px;
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}


#footer {
    height: 100%;
    width: 100%;
}

@media (max-width:600px) {

    #body {
        overflow-x: hidden;
    }

    #nav {
        height: 8vh;
        margin-top: 20px;
    }

    #nav h1 {
        height: 100%;
        width: 25%;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-between;
        padding: 0 3vw;
        align-items: center;
        font-family: monument;
        letter-spacing: -1px;
        position: relative;
        font-size: 20px;

    }

    #nav h1::after {

        content: "©";
        font-size: 16px;
        top: 16%;
        right: -33%;
    }


    #nav h1::before {

        font-size: 10px;
        bottom: 10%;
        right: -40%;
    }

    #nav h2 {
        display: none;
    }

    #nav h3 {
        display: initial;
    }

    #center {
        height: 50%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding: 2vw;
        object-fit: cover;

    }

    #overlay {
        height: fit-content;
    }

    #over1 h1 {
        font-size: 5vw;
        font-weight: 300;
    }

    #over1 h2 {
        font-size: 3vw;
        padding: 2.3vw 2.3vw;
    }


    #over2 h4 {
        font-size: 3vw;
    }

    #over2 img {
        height: 5vw;
    }

    #scroll {
        height: 20vh;
    }

    #container {
        width: 210%;
    }

    #scroll img {
        width: 15.5%;
    }


    #alphabets {
        height: 7vh;
        gap: 0.6px;
    }

    #alphabets h5 {
        font-size: 4vw;
        letter-spacing: 0;
    }

    #alphabets h6 {
        font-size: 2vw;
        letter-spacing: 0px;
        padding: 0.4vw 0.8vw;
    }

    #page2 {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;
    }

    #part1 {
        height: 86%;
        width: 50%;
        background-image: url(https://plus.unsplash.com/premium_photo-1674327105152-7a6ba47b8fe6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        align-self: flex-start;


    }

    #part1 h1 {
        font-size: 4vw;
        position: absolute;
        bottom: -78%;
        font-family: monument;
        text-transform: uppercase;
    }

    #part2 {
        height: 100%;
        width: 45%;

    }

    #part2 img {
        height: 70%;
        width: 100%;
        object-fit: cover;
    }

    #text h3 {
        width: 50%;
        font-size: 2.8vw;
    }

    #text p {
        font-size: 1.7vw;
        width: 55%;
    }

    #page3 {
        height: 100%;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 4vw;
    }

    #circle-text {
        height: 30%;
        width: 40%;
        /* color: blue; */
        margin-left: 10vw;
        display: flex;
        align-items: center;
        position: relative;

    }

    #circle-text img {
        height: 35%;
        width: 60%;
        top: -80%;
        left: -15%;
    }

    #circle-text h2 {
        font-size: 5vw;
        bottom: 156%;
        left: 5%;
    }

    #content {
        margin-top: -37vw;
        margin-left: -25%;

    }

    #heading-material {
        height: 30%;
        width: 100%;
    }

    #heading-material p {

        font-size: 3vw;

    }

    #image {
        height: 60%;
        padding-bottom: 0%;
    }


    #model {
        padding: 0vw 3vw;
        position: relative;

    }

    #model img {
        height: 130%;
        position: absolute;
        top: -30%;

    }


    #page4 {
        height: 100%;
        width: 100%;
        /* background-color: cyan; */
        padding: 3vw 4vw;

    }

    #page4 h1 {
        text-align: center;
        font-size: 6vw;
        font-family: monument;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 4vw;
    }


    .elem {
        height: 15vh;
        width: 100%;
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
        position: relative;

    }

    .elem h3 {
        width: 5%;
        font-size: 3vw;
        font-weight: 400;
    }

    .elem h2 {
        font-size: 4vw;
    }

    .elem h2 p {
        font-size: 2.5vw;
        font-weight: 500;
    }

    .elem img {
        height: 14vw;
        width: 14vw;
        left: 12%;

    }


    .elem .elem-part2 h2 {
        font-size: 4vw;
        font-weight: 600;
    }

    .elem .elem-part2 h5 {
        font-size: 2vw;

    }

    #page5 {
        height: 100%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding: 2vw 5vw;
        top: -27%;

    }

    #lower {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;


    }

    #lower img {
        height: 120%;
        width: 50%;
        object-fit: cover;
    }

    #lower-right {
        height: 100%;
        width: 45%;

    }

    #lower-right h1 {
        font-family: monument;
        font-size: 8vw;
        text-transform: uppercase;
    }

    #lower-right h4 {
        font-weight: 600;
        padding: 2vw 0;
        font-size: 5vw;

    }

    #lower-right p {
        font-size: 4vw;
    }

    #two-photo {
        gap: 2vw;
        display: flex;
        padding-right: 3vw;

    }

    #two-photo img {
        height: 50%;
        width: 60%;
        object-fit: cover;
        object-position: center;

    }


    #marque {
        white-space: nowrap;
        margin-top: 6vw;
        text-align: center;
        width: 100%;
        padding: 0.8vw;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;

    }

    #marque h1 {
        display: inline-block;
        font-family: monument;
        font-size: 6vw;
        letter-spacing: 4px;
        margin-right: 16px;
        color: transparent;
        -webkit-text-stroke: 2px black;
        text-transform: uppercase;
        font-weight: 900;
        animation-name: move;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 1s;
    }

}


/*abhi website ka lower part bacha hua h jald se jald banana h */
